body {
    background-color: rgb(200, 200, 200);
}
/* debug */
.debug .row {
    height: 100px;
}
/* /debug */
.row {
    border: 1px solid black;
}

.r-border {
    border-right: 1px solid black;
}

.border-w {
    border: 1px solid white;
}

.border-w {
    border: 1px solid white;
}

.nested {
    height: 100%;
}
/* COLORS */
.lightred {
    background-color: #FFC0CB;
}

.darkred {
    background-color: #F07F80;
}